<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon slot="start" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Connected Devices</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label></ion-label>
      <ion-button color="warning" fill="solid" (click)="presentAlertConfirmRevoke()">Revoke All</ion-button>
    </ion-list-header>

  <ion-item *ngFor="let device of devices;">
    <ion-label>{{ device.device_name }}</ion-label>
  </ion-item>
</ion-list></ion-content>
