<div class="ion-padding">  <span *ngIf="isOnline">Online Mode</span
  ><span *ngIf="!isOnline">Offline Mode</span>
  <ion-button
    size="small"
    class="ion-float-end"
    [disabled]="!isOnline"
    (click)="refresh()"
    *ngIf="!loading"
  >
    <ion-icon name="refresh"></ion-icon>
  </ion-button>
  <ion-spinner size="small" class="ion-float-end" *ngIf="loading"></ion-spinner><br /><small
    >Last sync : {{ noteService.lastSync.getHours() }}:{{ noteService.lastSync.getMinutes() }} {{ noteService.lastSync.getDate() }}/{{ noteService.lastSync.getMonth() }}/{{ noteService.lastSync.getFullYear() }} </small
  >
</div>
