<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon slot="start" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="shareDialog()" [disabled]="!isOnline"><ion-icon name="share-social"></ion-icon></ion-button>
      <ion-button (click)="notificationDialog()" [disabled]="!isOnline"><ion-icon name="notifications"></ion-icon></ion-button>
      <ion-button (click)="presentActionSheet()"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
      <ion-button [disabled]="isChanged" (click)="save()"><ion-icon name="save"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><ckeditor
  [config]="{
    toolbar: [
      'heading',
      '|',
      'fontfamily',
      'fontsize',
      '|',
      'alignment',
      '|',
      'fontColor',
      'fontBackgroundColor',
      '|',
      'bold',
      'italic',
      'strikethrough',
      'underline',
      'subscript',
      'superscript',
      '|',
      'link',
      '|',
      'outdent',
      'indent',
      '|',
      'bulletedList',
      'numberedList',
      'todoList',
      '|',
      'code',
      'codeBlock',
      '|',
      'insertTable',
      '|',
      'uploadImage',
      'blockQuote',
      '|',
      'undo',
      'redo'
    ]
  }"
  [editor]="editor"
  data="<p>Hello world!</p>"
></ckeditor></ion-content>
